/* Set the background color */
body {
  background-color: #f7f3b0; /* Light yellow */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* Add a border around the content */
.container {
  border: 1px solid #ccc;
  padding: 20px;
}

/* Add a heart animation */
.heart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.sunflower {
  width: 100px;
  height: 100px;
  background: url('sunflower.png') center/contain no-repeat;
  animation: spin 10s infinite linear, grow 5s infinite alternate ease-in-out;
  margin: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Style the button */
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  color: #382b22;
  background: #ffc0cb; /* Light pink */
  padding: 0.8em 1.3em;
  border-radius: 0.75em;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

.button:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

/* Style the audio element */
audio {
  width: 400px;
  height: 50px;
}

.boton-lanzamiento {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: #fff;
  background-color: #ad5389; /* Dark orange */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;

  svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  &:hover svg {
    transform: translateX(5px) rotate(90deg);
  }

  &:hover span {
    transform: translateX(7px);
  }
}


.flowers {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

  .card {
    width: 164px;
    height: 276px;
    background: rgb(0, 0, 0);
    border: 3px solid rgb(17, 4, 94);
    border-radius: 15px;
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Reduced the gap between elements */
    transition: all 1s ease;
    color: antiquewhite;
  }
  
  .card::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    right: 150px;
    border-radius: 50%;
    
  }
  
  .card__date {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  
  .time {
    font-size: 2em;
  }
  
  .popup {
    background-color: #444746;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    padding: 3px;
  }
  
  .popup .title {
    font-size: 10px;
    color: #9cbde2;
  }
  
  .card__date,
  .popup {
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .card:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 10px #289FED;
  }
  
  .card:hover .card__date,
  .card:hover .popup {
    opacity: 1;
  }
  
 

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.75);
}


.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}


.main {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}

.page {
  position: relative;
  box-sizing: border-box;
  max-width: 1200px;
  font-family: cursive;
  font-size: 20px;
  border-radius: 10px;
  background: #fff;
  background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
  line-height: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 4.5rem;
}

.page::before,
.page::after {
  position: absolute;
  content: "";
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease;
}

.page::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.page::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.page:hover::before,
.page:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.margin {
  position: absolute;
  border-left: 1px solid #d88;
  height: 100%;
  left: 3.3rem;
  top: 0;
}

.page p {
  margin: 0;
  text-indent: 1rem;
  padding-bottom: 1.2rem;
  color: black;
  line-height: 20px;
}

.heart-container {
  --heart-color: rgb(255, 91, 137);
  position: fixed;
  top: 77vh; /* 50% de la altura de la ventana */
  left: 40vw; /* 50% del ancho de la ventana */
  transform: translate(-50%, -50%);
  width: 80px;
  height: 50px;
  transition: .3s;
}



.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}